* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --brancotransparente: #fff 50%;
    --azul: #250848;

}

html {
    font-size: 16px;
}

body {
    height: 100vh; /* Melhor usar vh para cobrir a tela inteira */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    /* Configurações do Fundo */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    /* Chamada da animação: nome, duração (20s), infinita */
    animation: carrosselFundo 20s infinite;
}

/* Definição da troca de imagens */
@keyframes carrosselFundo {
    0%, 20% {
        background-image: url('img/bmw.jpg');
    }
    25%, 45% {
        background-image: url('img/gtrr34.jpg');
    }
    50%, 70% {
        background-image: url('img/gtrr35.jpg');
    }
    75%, 95% {
        background-image: url('img/lancer.jpg');
    }
    100% {
        background-image: url('img/bmw.jpg');
    }
}
.container,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1, main {
    font-family: "Kotta One", serif;
    color: #ffffff;
}

h2 {
    font-family: "Kosugi", sans-serif;
    color: #7300ff;
    font-size: 1rem;
    opacity: 75%;    
}

header {
    text-align: center;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
}

header h1 {
    font-weight: 600;
    margin-bottom: 7px;
}

header h2 {
    margin-bottom: 30px;
}

main a{
    background-color: #7300ff;
    color: #000000;
    width: 350px;
    height: 70px;
    margin-bottom: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    padding-top: 25px;
    border-radius: 25px;
    font-size: 20px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

footer img {
    margin: 0px 10px 0px 10px;
}
